<div class="animated fadeIn item-center">
  <div class="card" id="new47">
    <div class="card-header">
      <strong>Add<span *ngIf="(isAdd || isEdit) && !isDetail">Add / Edit</span></strong>
    </div>
    <div class="card-body">
      <form  (submit)="insert($event)">
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">Perspektif</div>
            <div class="dx-field-value">
              <dx-select-box [dataSource]="perspektifDropDown" [(value)]="KPI.perspektif_id"
                displayExpr="nama_perspektif" valueExpr="id">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Perspektif harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-select-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Tahun</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="KPI.tahun">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Tahun harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Indikator</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="KPI.nama_kpi">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Indikator harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Formula</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="KPI.formula">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Formula harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Satuan</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="KPI.satuan">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Satuan harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Bobot</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="KPI.bobot">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Bobot harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Target</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="KPI.target_rkap">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Target harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Ukuran Card Bar</div>
            <div class="dx-field-value">
              <dx-select-box [dataSource]="ukuranCardBar" [(value)]="KPI.ukuran_id" displayExpr="ukuran"
                valueExpr="id">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Ukuran harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-select-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Polarisasi</div>
            <div class="dx-field-value">
              <dx-select-box [dataSource]="polarisasiDropDown" [(value)]="KPI.polarisasi_id" displayExpr="display"
                valueExpr="id">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Polarisasi harus diisi"></dxi-validation-rule>
                </dx-validator>
              </dx-select-box>
            </div>
          </div>
          <div class="dx-fieldset">
            <dx-validation-summary id="summary"></dx-validation-summary>
            <div class="buttons pull-right">
              <a routerLink="/administration/balanced-scorecard">
                <dx-button [width]="90" text="Back"></dx-button>
              </a>
              <dx-button [width]="90" text="Save" type="success" [useSubmitBehavior]="true" >
              </dx-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
