<div class="animated fadeIn item-center">
  <div class="card" id="new47">
    <div class="card-header">
      <strong>Add<span *ngIf="(isAdd || isEdit) && !isDetail">Add / Edit</span></strong>
    </div>
    <div class="card-body">
      <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-field-label">Perspektif</div>
          <div class="dx-field-value">
            <dx-select-box [dataSource]="perspektifDropDown" [(value)]="cardBar.perspektif_id"
              displayExpr="nama_perspektif" valueExpr="id"></dx-select-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Tahun</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="cardBar.tahun"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Indikator</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="cardBar.nama_kpi"></dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Formula</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="cardBar.formula"></dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Satuan</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="cardBar.satuan"></dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Bobot</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="cardBar.bobot"></dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Target</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="cardBar.target_rkap"></dx-number-box>
          </div>
        </div>
        <!-- <div class="dx-field">
          <div class="dx-field-label">Target Bulanan</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="cardBar.target_bulanan"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Realisasi</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="cardBar.realisasi"></dx-number-box>
          </div>
        </div> -->
        <div class="buttons pull-right">
          <a routerLink="/administration/balanced-scorecard">
            <dx-button [width]="90" text="Back"></dx-button>
          </a>
          <dx-button [width]="90" text="Save" (click)="insert()"></dx-button>
        </div>
      </div>
    </div>
  </div>
</div>
