<div *ngFor="let item of data; let j=index">
  <div class="col-md-{{item.panjang_kolom}}">
    <div class="card text-white bg-{{color}}" style="height:170px; width:auto">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="my-title">
              {{item.nama_kpi}}
            </p>
          </div>
          <div class="col-md-6" (mouseover)="hover=true" (mouseleave)="hover=false">
            <table id="tabel">
              <tr>
                <td width="20px" style="margin-right: 2px;">
                  <p>{{item.target_rkap}}</p>
                </td>
                <td width="5px"></td>
                <td>
                  <div class="progress progress-white progress-xs mt-3">
                    <div aria-valuemax="max" aria-valuemin="0" aria-valuenow="25" class="progress-bar"
                      role="progressbar" [style.width.%]="item.target_rkap"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <p>{{item.target_bulanan}}</p>
                </td>
                <td width="5px"></td>
                <td>
                  <div class="progress progress-white progress-xs mt-3">
                    <div aria-valuemax="item.target_bulanan" aria-valuemin="0" aria-valuenow="25" class="progress-bar"
                      role="progressbar" [style.width.%]="item.target_bulanan"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <p>{{item.realisasi}}</p>
                </td>
                <td width="5px"></td>
                <td>
                  <div class="progress progress-white progress-xs mt-3">
                    <div aria-valuemax="item.target_bulanan" aria-valuemin="0" aria-valuenow="25" class="progress-bar"
                      role="progressbar" [style.width.%]="item.realisasi"></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





  <dx-popup [width]="320" [height]="290" [showTitle]="true" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
      <div class='popup-property-details'>
        <div class="form-group">
          <input type="number" [(ngModel)]="realisasi" name="realisasi" class="form-control" id="" required>
        </div>
        <div class="form-group ">
          <button type="submit" class="form-control btn btn-success" (click)="save($event)">Save</button>
        </div>
      </div>
    </div>
  </dx-popup>
