<div class="animated fadeIn">
  <div class="card" id="new47">
    <div class="card-header">
        <strong>Dasboard Role <span *ngIf="(isAdd || isEdit) && !isDetail">Add / Edit</span></strong>
    </div>
    <div class="card-body">
        <div id="data-grid-demo">
            <dx-data-grid 
                id="gridContainer"
                [dataSource]="gridDataSource"
                keyExpr="dashboard_id"
                [showBorders]="true">
                
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing 
                    mode="batch"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true"
                    >
                </dxo-editing>
                
                <dxi-column dataField="dashboard_id" [width]="100" caption="ID"></dxi-column>
                <dxi-column dataField="description" [width]="170" caption="Description"></dxi-column>
                <dxi-column
                    dataField="role_id"
                    caption="User Role"
                    [width]="125">         
                    <dxo-lookup
                        [dataSource]="Role"
                        displayExpr="nama"
                        valueExpr="role_id">
                    </dxo-lookup>
                </dxi-column>
            </dx-data-grid>
        </div>    
        
    </div>
  </div>
</div>