#kotak {
    background-color:#1B2D37;
    height: auto;
    margin-top: 10px;
    padding: 10px 6px;
}

.header {
    background-color:#FFFFFF;
    height: 90px;
    border-bottom: 3px solid black;
}

.logo {
    width: 140px;
    height: 100%;
    margin: 15px;
}