#kotak {
  background-color: #1B2D37;
  height: 650px;
  margin-top: 10px;
  padding: 10px 6px;
}

.head {
  background-color: #FFFFFF;
  height: 60px;
  border-bottom: 3px solid black;
}

.logo {
  // width: 200px;
  height: 40px;
  width: auto;
  margin-left: 15px;
}

#judul {
  font-size: 23px;

}

.item-carousel {
  border: 0px !important;
}


// card
#pencil :hover {
  cursor: pointer !important;
}

#tabel {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  
}

.my-title {
  font-size: 14pt !important;
  font-family: Tahoma;
}
p {
  font-size: 15pt !important;
  font-family: Tahoma;
}


