<div class="head">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/logoIcon.png" alt="" srcset="" class="logo">
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="kotak" *ngFor="let p of daftarPerspektif; let i = index">
        <div class="row">
          <!-- kiri -->
          <div class="col-md-2">
            <button type="button" class="btn btn-warning align-middle">
              {{p.nama_perspektif}}
            </button>
          </div>
        </div>
        <!-- end kiri -->
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="row" *ngIf="daftarCardBarFiltered[i]">
              <div class="col-md-12">
                <card-bar [color]="primary" [data]="daftarCardBarFiltered[i]"></card-bar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
