<div class="animated fadeIn item-center">
    <div class="card" id="new47">
      <div class="card-header">
        <strong>Balanced Scorecard {{bulan}} {{now.getFullYear()}}<span *ngIf="(isAdd || isEdit) && !isDetail">Add / Edit</span></strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
              <a routerLink="/administration/balanced-scorecard/add">
                <dx-button icon="plus" text="Add New Card" ></dx-button>
              </a>
          </div>
          <div class="col-md-5">
              <dx-select-box
              [dataSource]="tahunSelectBoxSource"
              displayExpr="tahun"
              placeholder="Pilih Tahun"
              valueExpr="tahun"
              [(value)]="queryParams.tahun"
          ></dx-select-box>
        </div>
          <div class="col-md-3">
            <a [routerLink]="['/administration/balanced-scorecard/data']" 
            [queryParams]="queryParams">
              <dx-button icon="fa fa-database" text="Show All Data" ></dx-button>
            </a>
          </div>
          
        </div>
             
          <br>       
             
            <dx-data-grid id="gridContainer" [dataSource]="perspektifSource" [masterDetail]="{ enabled: true, template: 'detail' }"
              keyExpr="id" [showBorders]="true"
              [columnHidingEnabled]="false"
              [rowAlternationEnabled]="true"
              [columnAutoWidth]="true"
              [wordWrapEnabled]="true"
              (onRowUpdating)="updatePerspektif($event)"
              (onRowRemoving)="delete($event)">
              <dxo-editing mode="batch"
                  [allowUpdating]="true">
              </dxo-editing>
               
              <dxi-column dataField="id"  caption="No" width="35" [allowEditing]="false">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column
                  dataField="nama_perspektif"
                  caption="Perspektif">         
                  <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
                            
              <div *dxTemplate="let perspektif of 'detail'">
                <div class="master-detail-caption">
                </div>
                <dx-data-grid [dataSource]="getCardBar(perspektif.key)" [showBorders]="true" [columnAutoWidth]="true"
                    (onRowUpdating)="updateCardBar($event)"
                    (onRowInserting)="insertCardBar($event,perspektif.key)">
                  
                  <dxo-editing mode="batch"
                            [allowUpdating]="true">
                  </dxo-editing>
                  <dxi-column caption="INDIKATOR " dataField="nama_kpi" [allowEditing]="false"></dxi-column>
                  <dxi-column caption="FORMULA" dataField="formula" [allowEditing]="false"></dxi-column>
                  <dxi-column caption="SATUAN" dataField="satuan" [allowEditing]="false"></dxi-column>
                  <dxi-column caption="BOBOT" dataField="bobot" [allowEditing]="false"></dxi-column>
                  <dxi-column dataField="target_rkap" caption="TARGET RKAP" dataType="number"></dxi-column>
                  <dxi-column dataField="target_bulanan" dataType="number" caption="TARGET {{ bulan }}"></dxi-column>
                  <dxi-column  dataField="realisasi" caption="REALISASI" dataType="number" ></dxi-column>
                  <!-- <dxi-column dataField="bulan" [allowResizing]="true" [allowEditing]="false">
                    <dxo-lookup
                            [dataSource]="bulanDropDown"
                            displayExpr="bulan"
                            valueExpr="bulan">
                        </dxo-lookup>
                  </dxi-column> -->
                  <!-- <dxi-column dataField="tahun" dataType="number"> </dxi-column> -->
                  <dxi-column dataField="persentase" caption="%"> </dxi-column>
                  <dxi-column dataField="nilai" caption="NILAI"> </dxi-column>

                  <dxo-summary>
                      <dxi-total-item
                          column="bobot"
                          summaryType="sum"
                          [customizeText]="customizeBobot">
                      </dxi-total-item>
                      <dxi-total-item
                          column="nilai"
                          summaryType="sum"
                          [customizeText]="customizeNilai">
                      </dxi-total-item>
                  </dxo-summary>
                </dx-data-grid>
              </div>
              <dxi-sort-by-group-summary-info summaryItem="count"></dxi-sort-by-group-summary-info>
            </dx-data-grid>

         
  
      </div>
    </div>
  </div>
  