<div class="head">
  <div class="row">
    <div class="col-md-5">
      <img src="assets/img/logoIcon.png" alt="" srcset="" class="logo">
    </div>
    <div class="col-md-7">
      <div id="nama_sbu">
        SBU {{daerah}}
      </div>
    </div>
  </div>
</div>

<carousel-component #topCarousel [autoPlay]="true" [delayAutoPlay]="30000" (onSlideChange)="loop($event)" [margin]="50">

  <!-- slide 1 -->
  <div class="item-carousel">
    <div id="kotak">
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-warning align-middle" *ngIf="daftarPerspektif">
            {{daftarPerspektif[0].nama_perspektif}}
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="row" *ngIf="slideSatu">
            <div class="col-md-12">
              <!-- card bar -->
              <div *ngFor="let item of slideSatu; let j=index">
                <div class="col-md-{{item.panjang_kolom}}">
                  <div class="card text-black text-left bg-secondary" style="height:170px; width:auto">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="my-title">
                            {{item.kpi_subdir}}
                          </p>
                        </div>
                        <div class="col-md-6" (mouseover)="hover=true" (mouseleave)="hover=false">
                          <table id="tabel">
                            <tr>
                              <td width="20px" style="margin-right: 2px;">
                                <p>{{item.target_rkap}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>

                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatRKAP" [max]="rkapSatu[j]" [value]="rkapSatu[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.target_bulanan}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatBulanan" [max]="rkapSatu[j]" [value]="bulananSatu[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.realisasi}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="format" [max]="bulananSatu[j]" [value]="realisasiSatu[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card bar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end slide 1 -->

  <!-- slide 2 -->
  <div class="item-carousel">
    <div id="kotak">
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-warning align-middle">
            {{daftarPerspektif[1].nama_perspektif}}
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="row" *ngIf="daftarCardBarFiltered[1]">
            <div class="col-md-12">
              <!-- card bar -->
              <div *ngFor="let item of slideDua; let j=index">
                <div class="col-md-{{item.panjang_kolom}}">
                  <div class="card text-black text-left bg-secondary" style="height:170px; width:auto">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="my-title">
                            {{item.nama_kpi}}
                          </p>
                        </div>
                        <div class="col-md-6" (mouseover)="hover=true" (mouseleave)="hover=false">
                          <table id="tabel">
                            <tr>
                              <td width="20px" style="margin-right: 2px;">
                                <p>{{item.target_rkap}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>

                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatRKAP" [max]="rkapDua[j]" [value]="rkapDua[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.target_bulanan}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatBulanan" [max]="rkapDua[j]" [value]="bulananDua[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.realisasi}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="format" [max]="bulananDua[j]" [value]="realisasiDua[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card bar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end slide 2 -->



  <!-- slide 3 -->
  <div class="item-carousel">
    <div id="kotak">
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-warning align-middle">
            {{daftarPerspektif[2].nama_perspektif}}
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="row" *ngIf="daftarCardBarFiltered[2]">
            <div class="col-md-12">
              <!-- card bar -->
              <div *ngFor="let item of slideTiga; let j=index">
                <div class="col-md-{{item.panjang_kolom}}">
                  <div class="card text-black text-left bg-secondary" style="height:170px; width:auto">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="my-title">
                            {{item.nama_kpi}}
                          </p>
                        </div>
                        <div class="col-md-6" (mouseover)="hover=true" (mouseleave)="hover=false">
                          <table id="tabel">
                            <tr>
                              <td width="20px" style="margin-right: 2px;">
                                <p>{{item.target_rkap}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>

                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatRKAP" [max]="rkapTiga[j]" [value]="rkapTiga[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.target_bulanan}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatBulanan" [max]="rkapTiga[j]" [value]="bulananTiga[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.realisasi}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="format" [max]="bulananTiga[j]" [value]="realisasiTiga[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card bar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end slide 3 -->

  <!-- slide 4 -->
  <div class="item-carousel">
    <div id="kotak">
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-warning align-middle">
            {{daftarPerspektif[3].nama_perspektif}}
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="row" *ngIf="daftarCardBarFiltered[3]">
            <div class="col-md-12">
              <!-- card bar -->
              <div *ngFor="let item of slideEmpat; let j=index">
                <div class="col-md-{{item.panjang_kolom}}">
                  <div class="card text-black text-left bg-secondary" style="height:170px; width:auto">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="my-title">
                            {{item.nama_kpi}}
                          </p>
                        </div>
                        <div class="col-md-6" (mouseover)="hover=true" (mouseleave)="hover=false">
                          <table id="tabel">
                            <tr>
                              <td width="20px" style="margin-right: 2px;">
                                <p>{{item.target_rkap}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>

                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatRKAP" [max]="rkapEmpat[j]" [value]="rkapEmpat[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.target_bulanan}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatBulanan" [max]="rkapEmpat[j]" [value]="bulananEmpat[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.realisasi}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="format" [max]="bulananEmpat[j]" [value]="realisasiEmpat[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card bar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end slide 4 -->

  <!-- slide 5 -->
  <div class="item-carousel">
    <div id="kotak">
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-warning align-middle">
            {{daftarPerspektif[4].nama_perspektif}}
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="row" *ngIf="daftarCardBarFiltered[4]">
            <div class="col-md-12">
              <!-- card bar -->
              <div *ngFor="let item of slideLima; let j=index">
                <div class="col-md-{{item.panjang_kolom}}">
                  <div class="card text-black text-left bg-secondary" style="height:170px; width:auto">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="my-title">
                            {{item.nama_kpi}}
                          </p>
                        </div>
                        <div class="col-md-6" (mouseover)="hover=true" (mouseleave)="hover=false">
                          <table id="tabel">
                            <tr>
                              <td width="20px" style="margin-right: 2px;">
                                <p>{{item.target_rkap}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>

                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatRKAP" [max]="rkapLima[j]" [value]="rkapLima[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.target_bulanan}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="formatBulanan" [max]="rkapLima[j]" [value]="bulananLima[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>{{item.realisasi}}</p>
                              </td>
                              <td width="5px"></td>
                              <td>
                                <dx-progress-bar #progressBar id="progress-bar-status" width="100%" [min]="0"
                                  [statusFormat]="format" [max]="bulananLima[j]" [value]="realisasiLima[j]">
                                </dx-progress-bar>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card bar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ?end slide  -->



</carousel-component>
