<div class="animated fadeIn item-center">
    <div class="card" id="new47">
      <div class="card-header">
        <strong>Balanced Scorecard Administration<span *ngIf="(isAdd || isEdit) && !isDetail">Add / Edit</span></strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/administration/balanced-scorecard">
              <dx-button icon="back" text="Back" ></dx-button>
            </a>
          </div>
        </div>
        <br>
              
                
             
            <dx-data-grid id="gridContainer" [dataSource]="perspektifSource" [masterDetail]="{ enabled: true, template: 'detail' }"
              keyExpr="id" [showBorders]="true"
              [columnHidingEnabled]="false"
              [rowAlternationEnabled]="true"
              [columnAutoWidth]="true"
              [wordWrapEnabled]="true"
              (onRowUpdating)="updatePerspektif($event)"
              (onRowRemoving)="delete($event)">
              <!-- <dxo-editing mode="batch"
                  [allowUpdating]="true">
              </dxo-editing> -->
              <dxo-master-detail
                [autoExpandAll]="false"  
              ></dxo-master-detail>
              
               
              <dxi-column dataField="id"  caption="No" width="35" [allowEditing]="false">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column
                  dataField="nama_perspektif"
                  caption="Perspektif">         
                  <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              
              <div *dxTemplate="let perspektif of 'detail'">
                <div class="master-detail-caption">
                </div>
                <dx-data-grid [dataSource]="getCardBar(perspektif.key)" [showBorders]="true" [columnAutoWidth]="true"
                    (onRowUpdating)="updateCardBar($event)"
                    (onRowInserting)="insertCardBar($event,perspektif.key)"
                  >
                    <dxo-filter-row 
                    [visible]="true" 
                    [applyFilter]="auto"></dxo-filter-row>
                  <!-- <dxo-editing mode="batch"
                            [allowUpdating]="true"
                            [allowDeleting]="true"> -->
                  <!-- </dxo-editing> -->
                  <dxi-column caption="Title" dataField="title"></dxi-column>
                  <dxi-column dataField="target_tahunan" dataType="number"></dxi-column>
                  <dxi-column dataField="target_bulanan" dataType="number"></dxi-column>
                  <dxi-column  dataField="realisasi" [allowResizing]="true" dataType="number"></dxi-column>
                  <dxi-column dataField="bulan" [allowResizing]="true" [allowEditing]="false">
                    <dxo-lookup
                            [dataSource]="bulanDropDown"
                            displayExpr="bulan"
                            valueExpr="bulan">
                        </dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="tahun" dataType="number"> </dxi-column>
                </dx-data-grid>
              </div>
            </dx-data-grid>

         
  
      </div>
    </div>
  </div>
  