<div class="row">
  <div *ngFor="let card of cards; let i = index" class="col-sm-6 {{card.widget_size}}">
    <div class="card border-0 shadow-sm text-light bg-{{card.color}}" *ngIf="card.visible">
      <div class="card-body">
        <div class="btn-group float-right" dropdown>
          <a (click)="hapus(card)" *ngIf="closeable[i]" id="hapus" href="#">X</a>
        </div>
        <div class="text-left myCard-title">{{card.widget_title}}</div>
        <div class="chart-wrapper px-3" style="height:140px;">

          <h4 class="font-weight-bold text-center uk-margin-large-top myCard-value" *ngIf="cardsData">
            {{cardsData[i].salary}}
          </h4>
        </div>
        <p class="font-weight-italic myCard-label">{{card.widget_label}}</p>
        <!-- <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
          [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
          [chartType]="lineChart1Type" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas> -->
      </div>
    </div>
  </div>
</div>
