/* final dashboard */

.logo {
  height: 40px;
  width: auto;
  margin-left: 15px;
}

.head {
  background-color: #FFFFFF;
  height: 60px;
  border-bottom: 3px solid black;
  margin-bottom: 4px;
}




/* old */

.myCard-value {
  font-size: 30pt !important;
}

.myCard-title {
  font-size: 14pt !important;
  font-weight: 400;
}

.myCard-label {
  font-size: 20pt !important;

}
/* 
::ng-deep #pivotgrid {
  margin-top: 20px;
}

::ng-deep .currency {
  text-align: center;
}

.carousel {
  border: 0pt !important;
}

carousel-component .container {
  height: auto !important;
  margin: 30px !important;
}

.item-carousel {
  border: 0px !important;
}


.container {
  width: 70% !important;
  height: auto !important;
  margin-top: 30px;
}


/* agar pembungkus bar gauge lebih kecil. press degan ukuran bar gauge*/
/* [_nghost-c14] {
  display: inline-block !important;
}

.myPivot {
  width: 900px;
  height: auto;
}  */