    <carousel-component #topCarousel [autoPlay]="true" [delayAutoPlay]="7000" (onReachEnd)="loop($event)" [margin]="50">
      
      <div class="item-carousel">
          <button (click)="tes($event)">TES</button>
        <div *ngIf="cardAtSlide1">
          <div class="animated fadeIn">
            <card-box [cards]="cards" [closeable]="closeableCards"></card-box>
          </div>
        </div>
        <div *ngIf="circularAtSlide1">
          <div class="animated fadeIn">
            <app-circular-gauge [circularGauge]="circularGauge"></app-circular-gauge>
          </div>
        </div>
        <app-bar-gauge></app-bar-gauge>
      </div>

      <div class="item-carousel">
        <div *ngIf="cardAtSlide2">
          <card-box [cards]="cards" [closeable]="closeableCards"></card-box>
        </div>
        <div *ngIf="circularAtSlide2">
          <app-circular-gauge [circularGauge]="circularGauge"></app-circular-gauge>
        </div>
        
      </div>

      <div class="item-carousel">
          <button (click)="tes($event)">TES</button>
        <div *ngIf="cardAtSlide3">
          <card-box [cards]="cards" [closeable]="closeableCards"></card-box>
        </div>
        <div *ngIf="circularAtSlide3">
          <app-circular-gauge [circularGauge]="circularGauge"></app-circular-gauge>
        </div>
        <app-pivot-data-grid></app-pivot-data-grid>
      </div>
    </carousel-component>
