/* ::ng-deep #gauge {
    height: 300px;
    width: 100%;
} */

.myCard-value{
    font-size: 30pt !important;
}
.myCard-title{
    font-size: 20pt !important;
}
.myCard-label{
    font-size: 10pt !important;

}