/* ::ng-deep #gauge {
    height: 300px;
    width: 100%;
} */

.myCard-value{
    font-size: 30pt !important;
}
.myCard-title{
    font-size: 20pt !important;
}
.myCard-label{
    font-size: 10pt !important;

}
::ng-deep #pivotgrid {
    margin-top: 20px;
}
::ng-deep .currency {
    text-align: center;
}



.carousel{
    border: 0pt !important;
}

carousel-component .container{
    width: 1509px !important;
    height: auto !important;
    max-width:1509px !important;
    margin: 30px !important;
}

.item-carousel {
    border: 0px !important;
}


.container{
    max-width: 1509px !important;
    width: auto !important;
    height: auto !important;
}
/* [_nghost-c1] .container[_ngcontent-c1] .carousel[_ngcontent-c1] .item-carousel {
    border : 0px !important;
} */

/* agar pembungkus bar gauge lebih kecil. press degan ukuran bar gauge*/
[_nghost-c14]{
    display: inline-block !important;
}
